---
- name: "Disable built-in apps - create dirs"
  when:
    - splunk_apps_disable_builtin is defined
  ansible.builtin.file:
    path: "{{ splunk_apps_home }}/etc/apps/{{ item }}/local/"
    owner: "{{ splunk_apps_user }}"
    group: "{{ splunk_apps_group }}"
    state: directory
    mode: "0700"
  with_items: "{{ splunk_apps_disable_builtin }}"
  no_log: true

- name: "Disable built-in apps - create app.conf"
  when:
    - splunk_apps_disable_builtin is defined
  ansible.builtin.file:
    path: "{{ splunk_apps_home }}/etc/apps/{{ item }}/local/app.conf"
    owner: "{{ splunk_apps_user }}"
    group: "{{ splunk_apps_group }}"
    state: "touch"
    mode: "0600"
  with_items: "{{ splunk_apps_disable_builtin }}"
  no_log: true

- name: "Disable built-in apps"
  when:
    - splunk_apps_disable_builtin is defined
  community.general.ini_file:
    path: "{{ splunk_apps_home }}/etc/apps/{{ item }}/local/app.conf"
    section: "install"
    option: "state"
    value: "disabled"
    owner: "{{ splunk_apps_user }}"
    group: "{{ splunk_apps_group }}"
    mode: "0600"
    state: "present"
  with_items: "{{ splunk_apps_disable_builtin }}"
