---
- name: "Create temporary directory"
  when:
    - splunk_apps_custom_apps_path is defined
    - splunk_apps_custom_apps_path is not none
  ansible.builtin.tempfile:
    state: directory
    suffix: ansible_splunk_apps
  register: _splunk_apps_custom_apps_tmp_dir

- name: "Transfer custom apps"
  when:
    - _splunk_apps_custom_apps_tmp_dir is defined
    - _splunk_apps_custom_apps_tmp_dir.path is defined
    - _splunk_apps_custom_apps_tmp_dir.path is not none
  ansible.builtin.copy:
    src: "{{ splunk_apps_custom_apps_path }}/"
    dest: "{{ _splunk_apps_custom_apps_tmp_dir.path }}/"
    owner: "{{ splunk_apps_user }}"
    group: "{{ splunk_apps_group }}"
    mode: "preserve"

- name: "List custom apps"
  when:
    - _splunk_apps_custom_apps_tmp_dir is defined
    - _splunk_apps_custom_apps_tmp_dir.path is defined
    - _splunk_apps_custom_apps_tmp_dir.path is not none
  ansible.builtin.find:
    path: "{{ _splunk_apps_custom_apps_tmp_dir.path }}"
    recurse: false
    file_type: "directory"
  register: _splunk_apps_custom_apps_list

- name: "Remove custom apps"
  when:
    - _splunk_apps_custom_apps_tmp_dir is defined
    - _splunk_apps_custom_apps_tmp_dir.path is defined
    - _splunk_apps_custom_apps_tmp_dir.path is not none
  ansible.builtin.file:
    state: "absent"
    path: "{{ splunk_apps_home }}/etc/apps/{{ item }}"
  with_items: "{{
                  _splunk_apps_custom_apps_list.files | map(attribute='path') | map('basename')
                  | difference(splunk_apps_remove_apps_exclude)
                  | difference(splunk_apps_custom_apps_remove_exclude)
                }}"

- name: "Install custom apps"
  when:
    - _splunk_apps_custom_apps_tmp_dir is defined
    - _splunk_apps_custom_apps_tmp_dir.path is defined
    - _splunk_apps_custom_apps_tmp_dir.path is not none
  ansible.builtin.copy:
    remote_src: true
    src: "{{ _splunk_apps_custom_apps_tmp_dir.path }}/"
    dest: "{{ splunk_apps_home }}/etc/apps/"
    owner: "{{ splunk_apps_user }}"
    group: "{{ splunk_apps_group }}"
    mode: "preserve"

- name: "Remove temporary directory"
  when:
    - _splunk_apps_custom_apps_tmp_dir is defined
    - _splunk_apps_custom_apps_tmp_dir.path is defined
    - _splunk_apps_custom_apps_tmp_dir.path is not none
  ansible.builtin.file:
    state: "absent"
    path: "{{ _splunk_apps_custom_apps_tmp_dir.path }}"
