---
- name: "Check license trial status"
  tags: ['accept_license']
  ansible.builtin.stat:
    path: "{{ splunk_install_home }}/etc/licenses/download-trial/enttrial.lic"
  register: _splunk_enttrial

- name: "Check first time run status"
  tags: ['accept_license']
  ansible.builtin.stat:
    path: "{{ splunk_install_home }}/ftr"
  register: _splunk_ftr

- name: "Accept trial license"
  when:
    - (_splunk_ftr.stat is defined and_splunk_ftr.stat.exists) or not _splunk_enttrial.stat.exists
  tags: ['accept_license']
  ansible.builtin.command:
    argv:
      - "{{ splunk_install_home }}/bin/splunk"
      - "start"
      - "--accept-license"
      - "--answer-yes"
      - "--no-prompt"
  changed_when: true

- name: "Stop Splunk"
  when:
    - (_splunk_ftr.stat is defined and_splunk_ftr.stat.exists) or not _splunk_enttrial.stat.exists
  tags: ['accept_license']
  ansible.builtin.command: "{{ splunk_install_home }}/bin/splunk stop"
  changed_when: true
